<div class="bg"></div>
	<div class="jumbotron">
	  <h1>Welcome to Fondify</h1>
	</div>
</div>

  <div class="row pro-projects">
	      <div class="col-lg-12">
	          <h1>Founding New Generation of Pro Social Projects</h1>
	      </div>
	      <% 3.times do %>
           <div class="col-lg-4 col-md-4">
	              <div class="panel">
	                      <div class="panel-heading">
	                          <div>
	                              <%= link_to image_tag("logo.png"), class: 'center-block' %>
	                          </div>
	                      </div>
	                  <div class="panel-body">
	                          <div class="new-flag">Project Social Founding</div>
	                      <hr/>
	                      <div class="title">
	                          <%= link_to "Social Founding to Regional Products" %>
	                      </div>
	                      <ul class="nav nav-pills vote">
	                        <li><span id="average_rating_21"></span></li>
	                        <li> &nbsp; <span>(47 reviews)</span></li>
	                      </ul>
	                      <p><i class="fa fa-clock-o fa-lg"></i> &nbsp; <span>10 hours</span></p>
	                      <div class="stack-group">
	                                  <span class="stack">Ruby on Rails |</span>
	                                  <span class="stack"> Bootstrap |</span>
	                                  <span class="stack"> jQuery</span>
	                      </div>
	                  </div>

	              </div>
	          </div>
         <% end %>
	      <% @projects.each do |project| %>
          <% if project.status == true %>
	          <div class="col-lg-4 col-md-4">
	              <div class="panel">
                    <div class="panel-heading">
                        <div>
                            <%= link_to image_tag(project.image_url(:thumb).to_s), info_project_path(project), remote: true %>
                        </div>
                    </div>
	                  <div class="panel-body">
	                      <div class="new-flag"><%= project.title %></div>
	                      <hr/>
	                      <div class="title">
	                          <%= link_to project.description, info_project_path(project), remote: true %>
	                      </div>
	                      <ul class="nav nav-pills vote">
	                        <li><span id="average_rating_21"></span></li>
	                        <li> &nbsp; <span>(47 reviews)</span></li>
	                      </ul>
	                      <p><i class="fa fa-clock-o fa-lg"></i> &nbsp; <span>10 hours</span></p>
	                      <div class="stack-group">
	                                  <span class="stack">Ruby on Rails |</span>
	                                  <span class="stack"> Bootstrap |</span>
	                                  <span class="stack"> jQuery</span>
	                      </div>
	                  </div>

	              </div>
	          </div>
	        <% end %>
        <% end %>
  </div>




