<% provide(:title, 'New Project') %>
<h3>New Project</h3>
<%= form_for @project, url: projects_path, :method => :POST do |f| %>
  <p>
    <%= f.hidden_field :user_id, :value => current_user.id, class: "input" %>
  </p>
  <%= f.label :title %>
	<p>
    <%= f.text_field :title, class: "input" %>
  </p>
  <%= f.label :Description %>
  <p>
    <%= f.text_field :description, class: "input" %>
  </p>
 <div class='field'>
    <%= f.file_field :image %>
  </div>
  <p>
    <%= f.submit "Save", class: "button is-primary is-large" %>
  </p>
<% end %>